body {
  margin: 0;
  overflow: hidden;
}

#game {
  width: 100vw;
  height: 100dvh;
  position: relative;
  overflow: hidden;
}

#sky {
  image-rendering: pixelated;
  position: absolute;
  width: 100%;
  height: 100%;
  
  background-image: url("assets/sky.png");
  background-size: cover;
  background-position: center top;
}

#wave {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 100%;

  background-image: url("assets/wave.png");
  background-repeat: repeat-x;

  background-size: auto 100%;
  image-rendering: pixelated;
}

#entities {
  position: absolute;
  width: 100%;
  height: 100%;
}

#surfer {
  image-rendering: pixelated;
  width: 90px;
  height: 90px;
  background-image: url("assets/surfer.png");
  background-size: contain;
  background-repeat: no-repeat;

  position: absolute;

  image-rendering: pixelated;
  left: 400px;
}

#score {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 24px;
  font-family: monospace;
}

#tunnel {
  image-rendering: pixelated;
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("assets/tunnel.png");
  background-size: cover;

  pointer-events: none;
}

#foam {
  image-rendering: pixelated;
  position: absolute;
  width: 100%;
  height: 100%;

  background-image: url("assets/foam.png");
  background-size: cover;

  pointer-events: none;

}


.obstacle {
  position: absolute;
  width: 70px;
  height: 70px;

  background-size: contain;
  background-repeat: no-repeat;

  image-rendering: pixelated;
}

.overlay {
  transform: scale(5);

  position: absolute;
  width: 100%;
  height: 100%;

  background-size: cover;
  image-rendering: pixelated;

  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(0, 0, 0, 0.3); 
  backdrop-filter: blur(4px); 

  z-index: 10;
  overflow: hidden;
}

.hidden {
  display: none;
}

#finalScore {
  transform: scale(1);
  position: absolute;
  color: rgb(69, 44, 18);
  font-size: 8px;
  font-family: monospace;

  top: 49%;
  left: 50%;
}

@media (orientation: portrait) {
  body::before {
    content: "Rotér mobilen til liggende";
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: black;
    color: red;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 24px;
    text-align: center;

    z-index: 999;
  }

  #game {
    display: none;
  }
}

@media (max-width: 1000px) and (orientation: landscape) {

  #sky {
    height: 100%;
    background-size: cover;
    background-position: center top;
  }

  #wave {
    height: 60%;
    background-size: auto 100%;
    background-repeat: repeat-x;
    background-position: left bottom;
  }

  #tunnel {
    height: 60%;
    background-size: auto 100%;
    background-position: left bottom;
  }

  #surfer {
    width: 50px;
    height: 50px;
    left: 20%;
  }

  .obstacle {
    width: 30px;
    height: 30px;
  }

  #score {
    font-size: 18px;
    top: 10px;
    right: 15px;
  }

  #foam {
    height: 60%;
  }

  .overlay {
    transform: none !important;
    width: 600px;
    height: 360px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
  }

}
